#startup animation for smaller download + resourcepack + shaders
.minecraft/shaderpacks
#.minecraft/resourcepacks
#.minecraft/animation

#backup folders
.minecraft/backups/

#other old stuff
.minecraft/config/binocular_*.cfg
.minecraft/XaeroWorldMap

#logs
.minecraft/logs/*
.minecraft/crash-reports/*
.minecraft/crafttweaker.log
.minecraft/hs_*.log
.minecraft/mods/OpenTerrainGenerator

#ReAuth
.minecraft/.ReAuth.cfg

#worlds
.minecraft/saves

#settings
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/usercache.dat
.minecraft/usernamecache.dat
.minecraft/patchouli_data.json
instance.cfg

#natives
natives/
